.orange-text{
    color:firebrick;
}
body{
    font-family: 'poppins', sans-serif;
}

h1{
    font-family: 'Noto Serif', serif;
    border-left: 3px solid brown;
    font-weight: 700px;
  font-size: 50px;
  padding-left: 10px;
}
#foc-text{
    
    margin-bottom: 40px;
    
}


a{

    color:white;
    text-decoration: none;
   
    background-color: brown;
    padding: 10px 20px;
    border-radius: 10px;
    
   
    
}

section{
    display: flex;
}
.half-width{
    
    width: 50%;
    padding-left: 5%;
    padding-top: 10%;
    
}
.half-width img{
    width: 60%;
   

}
#margin-in-top{
    margin-top: 50px;
}
.heading-text{
    text-align: center;
    font-size: 36px;
}