.orange-text{
    color:firebrick;
}
body{
    font-family: 'poppins', sans-serif;
    padding: 40px;
}

h1{
    font-family: 'Playfair Display', serif;
    border-left: 3px solid brown;
    font-weight: 700px;
  font-size: 50px;
  padding-left: 10px;
}
#foc-text{
    
    margin-bottom: 40px;
    
}


a{

    color:white;
    text-decoration: none;
   
    background-color: brown;
    padding: 10px 20px;
    border-radius: 10px;
    
   
    
}

section{
    display: flex;
    margin-bottom: 40px;
}
.half-width{
    
    width: 50%;
    
    
}
.half-width img{
    width: 60%;
   

}
#top-margin-scroll{
    margin-top: 20px;
}
.heading-text{
    text-align: center;
    font-size: 36px;
}
.mission-area{
    background-color: rgb(228, 247, 250);
    box-shadow: 10px 10px 10px grey;
    width: 25%;
    margin-left: 2%;
    margin-right:2%;
    padding-left: 10px;
    border-radius: 10px;
}
.mission-area img{
    width: 30%;

}
.third-part{
margin-top: 80px;
padding-right: 200px;
}
.third-part img{
    width: 80%;
    border-radius: 20px;
}
footer h2{
    font-family: 'Lobster', cursive;
}
footer{
    color: white;
    padding: 40px;
    text-align: center;
    background-color: black;
    
}
